/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-13/revealjs/default.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example01_01.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example01_02.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example01_03.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example01.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example02.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example03-United.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-27/Flexdashboard/Example04-United.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Final Project/Final Project Description.pdf

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-13/htmlwidgets/highcharter-maps.nb.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework2/Homework 2_Rudy Martinez.nb.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework3/Homework 3.pdf

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework1/Homework-1_Rudy-Martinez--Final-.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework1/Homework1.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework2/homework2.nb.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework0/HW0_Rudy-Martinez.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework0/Lpe538.zip

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework2/Lpe538.zip

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-10-13/htmlwidgets/plotly example.nb.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Homework/Homework0/problem-set.html

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Final Project/Data/4. School Data/Schools_2018_to_2019.csv

/Users/rudymartinez/Desktop/MSDA/DA-Visualizations-Communications/Project Files/2020-09-08/tidy_data.txt